@use "../../styles/resets";
@use "../../styles/responsive" as *;
@use "../../styles/variables" as *;

.returnhome{
  margin-left:1.6rem;
  margin-right: 1.6rem;
}

.title{
 &__text{
  padding-top:2.4rem;
  padding-bottom: 1.6rem;
  margin-left:1.6rem;
  margin-right: 1.6rem; 
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.4rem;
  line-height: 3.2rem;
 }

}

.letters{
  display: flex;

  &__card{

    &-date{
      margin-left: 1.6rem;
      padding-bottom: 1.6rem;
      margin-bottom: 0;
      margin-top: 0;

    }

    &-text{
      margin-left: 1.6rem;
      margin-right:1.6rem;
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
   
  }


}