
@use "../../styles/resets";
@use "../../styles/responsive" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts";

.thumbnail-table {
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      border: 1px solid #ddd; 
      padding: 8px; 
      text-align: left; 
    }
  
    img {
      width: 100px; 
      height: auto; 
      border-radius: 5px; 
    }
  
    th {
      background-color: #f2f2f2; 
      color: black; 
    }
  
   
  }
  